a {
    /* font-weight: bold; */
    transition: 0.3s ease-in-out;
    
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    color: #a1a1aa
}

@media (prefers-color-scheme: dark) {
    a {
        color: #e7e5e4
    }
    a:hover {
        color: #d4d4d8
    }
}

.custom-a-dnone {
    text-decoration: none;
}